/*variables*/


/*-------------------*/
/*show slider current*/
.current {
    opacity: 1;
}
.current.hide {
    opacity: 0;
    transition: opacity .3s ease 0s;
}
.current i.inst {
	padding: 5px  10px;
    border-radius: 5px;
    color: #f4a630;
    display: block;
    text-align: center;
    margin-top: 8px;
    line-height: 1.2em;
}

/*nueva instruccion*/
.current i.inst3 {
	padding: 5px  10px;
    border-radius: 5px;
    background: #fdbf6030;
    color: #f4a630;
    display: block;
    text-align: center;
    margin-top: 8px;
}


.current i.inst2 {
	padding: 5px;
    border-radius: 5px;
    background: #fdbf6030;
    color: #f4a630;
    display: block;
    text-align: left;
    margin-top: 8px;
    font-size: 15px; 
    text-align: center;
}
.pc-slide-8{
    display: block;
}

.movil-slide-8{
    display: none;
}

@media (max-width: 768px) {
    
    .current i.inst2 {
        padding: 5px;
        border-radius: 5px;
        background: #fdbf6030;
        color: #f4a630;
        display: block;
        text-align: center;
        margin-top: 8px;
        font-size: 10px; 
    }
    .current i.inst3 {
        padding: 5px;
        border-radius: 5px;
        background: #fdbf6030;
        color: #f4a630;
        display: block;
        text-align: center;
        margin-top: 8px;
        font-size: 10px; 
    }
    .pc-slide-8{
        display: none !important;
    }
    
    .movil-slide-8{
        display: block;
    }
}


.current > div {
    align-items: center;
    align-content: center;
    /* height: calc(100% - 80px); */
}

.container .ctImg {
    position: relative;
    height: 100%;
    background-image: url();
}
.container .ctImg::after {
    content: "";
    position: absolute;
    border: 5px solid #badde1;
    width: 96%;
    height: 96%;
    z-index: 1;
    margin: 0 auto;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
}
@media (max-width: 992px) {
    .current > div {
        align-items: center;
        height: auto;
    }
    .container .ctImg {
        height: 300px;
    }
}


/*--------*/
/*slider00*/
.slider00 {
    top: 71%;
    height: 0 !important;
    max-width: 515px;
    margin: 0 auto;
    grid-template-columns: 1fr;
}
.slider00 p {
    color: #fff;
}


/*--------*/
/*slider01*/
.slider01 .items > div:nth-child(1) {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
}
.slider01 .items span {
    position: relative;
    display: inline-block;
    background: #adadad;
    color: #fff;
    font-size: 2rem;
    border-radius: 40px;
    text-align: center;
    width: 60px;
    z-index: 2;
    padding: 6px;
    margin: 5px;
}
.slider01 .items span:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.02);
    transition: .2s;
}
.slider01 .items span.act {
    background: #45a5ae;
}
.slider01 .items span.act::after {
    content: " ";
    position: absolute;
    opacity: .6;
    top: -6px;
    left: -6px;
    display: block;
    width: 72px;
    height: 73px;
    border-radius: 50px;
    border: 3px solid var(--teal);
}
.slider01 #sl14ac01 {
    height: 100%;
    display: grid;
    align-items: center;
    background: #63728deb;
}
.slider01 #sl14ac01 p {
    color: #fff;
    padding: 15px;
}
.slider01 #sl15ac01 p,
.slider01 #sl17ac01 p,
.slider01 #sl09ac01 p {
    background: #63728deb;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
}
.slider01 #sl06ac01 p {
    position: absolute;
    top: 5px;
}

/*--------*/
/*slider02*/
.slider02 ol {
    text-align: initial;
}
.slider02 .ctItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.slider02 .ctItem div {
    max-width: 380px;
    text-align: center;
    margin: 0 auto;
}
@media (max-width: 991px) {
    .slider02 .ctItem {
        grid-template-columns: 1fr;
    }
}

:root {
  --dur: all 550ms ease-in-out; 
  --dur-a: all 650ms ease-in-out;
  --dur-b: all 750ms ease-in-out;
}
.container_tematica {
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:20px;
  padding:20px;
  box-sizing:border-box;
}
.item_tematica {
  background:#071835;
  height:300px;
  position:relative;
  border-radius:15px;
  padding:30px;
  box-sizing:border-box;
  color:#fff;
}
.card_tematica {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  z-index:10;
  width:100%;
  height:100%;
  overflow:hidden;
  border-radius:15px;
  -webkit-transition: var(--dur);
  -moz-transition: var(--dur);
  -ms-transition: var(--dur);
  -o-transition: var(--dur);
  transition: var(--dur);
  clip-path: circle(100.0% at 50% 50%);
}
.card_tematica img {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  z-index:10;
  height:100%;
  width:auto;
  max-width:9999px;
  overflow:hidden;
  border-radius:15px;
  -webkit-transition: var(--dur);
  -moz-transition: var(--dur);
  -ms-transition: var (--dur);
  -o-transition: var(--dur);
  transition: var(--dur);
  clip-path: circle(100.0% at 50% 50%);
}
.item_tematica:hover .card_tematica img {
  clip-path: circle(0.0% at 50% 50%);
}
.circle {
  background:#0b3d5c;
  max-width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  -webkit-transition: var(--dur-a);
  -moz-transition: var(--dur-a);
  -ms-transition: var(--dur-a);
  -o-transition: var(--dur-a);
  transition: var(--dur-a);
  clip-path: circle(100.0% at 50% 50%);
}
.circle2 {
  background:#008fb6;
  -webkit-transition: var(--dur-b);
  -moz-transition: var(--dur-b);
  -ms-transition: var(--dur-b);
  -o-transition: var(--dur-b);
  transition: var(--dur-b);
  clip-path: circle(100.0% at 50% 50%);
}
.item_tematica:hover .card_tematica .circle {
  clip-path: circle(0.0% at 75% 60%);
}
.item_tematica:hover .card_tematica .circle2 {
  clip-path: circle(0.0% at 35% 20%);
}

.content_tematica {
  position:relative;
  z-index:0;
  display:flex;
  align-items:center;
  height:100%;
}

.content_tematica p{
  color: #fff;
}

@media (max-width: 992px) {
  .container_tematica {
    grid-template-columns:1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container_tematica {
    grid-template-columns:1fr;
  }
}


  


/*--------*/
.cardriesgo{
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(88, 88, 88, 0.13);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 1;
  padding: 1rem 1rem;
}

.cardriesgo2 {
  flex: 0 0 calc(33.33% - 1rem); 
  margin-bottom: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cardriesgo2 img{
  align-items: center;
}

.card-body2 {
  flex: 1 1 1;
  padding: 0.5rem 0.5rem;
}

.cardinstruccion-2 {
  flex: 0 0 calc(33.33% - 1rem); 
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 1em;
}

.cardinstruccion-2-listado {
  flex: 0 0 calc(33.33% - 1rem); 
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0.8em;
}

.cardinstruccion-3 {
  flex: 0 0 calc(33.33% - 1rem); 
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.cardinstruccion-body{
  flex: 1 1 1;
  padding: 1.0rem 1.0rem;
  background-color: #0f3c5cd7;
}

.cardinstruccion-body-listado{
  flex: 1 1 1;
  padding: 0.5rem;
  background-color: #0f3c5cd7;
  transition: transform 0.3s ease;
}

.col-50{
  width: 50%;
}

@media(max-width: 734px){
.col-50{
  width: 100% !important;
}
}


.tab-content-programa > .tab-pane {
  display: none;
}

.tab-content-programa > .active {
  display: block;
  background-color: #f9f9f9;
  padding: 15px;
  border: solid 1px #d1d1d1;
  margin-right: 5%;
  margin-top: 15%;
}


/*slider05*/
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.cardBox:hover .card {
  transform: rotateY( 180deg);
}
.card {
  background: var(--secondary30);
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card-2 {
  background: var(--secondary30);
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card-SGA {
  background: var(--secondary30);
  cursor: default;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}


.card-instruccion {
  background: var(--secondary30);
  cursor: default;
  height: 30vh;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card .front,
.card .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  box-sizing: border-box;
  font-size: 1.2em;
  color: var(--secondary);
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}
.card .back {
  transform: rotateY( 180deg);
}
.card .back p {
  color: var(--secondary);
}

/*--------*/
/*slider05*/
.hero {
	height: 100vh;
	background: linear-gradient(45deg, rgba(11, 12, 12, 0.7), rgba(3, 37, 44, 0.7), rgba(24, 24, 23, 0.7), rgba(0, 58, 93, 0.7), rgba(8, 12, 27, 0.7)) 0 0 / 1000% no-repeat,
  url(../img/mina_view.png) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
.img-sld5{
  padding-top: 10%;
  width: 20%;
  margin: 0 auto;
}

.boxwhite{
  padding: 2%;
  margin: 2% 25% 15% 25%;
}

.background-sld5{
  background-color: rgba(7, 7, 7, 0.507);
  border-radius: 10px;
}

/*--------*/
/*slider06*/
.slider06 .ctActivity {
    background: var(--secondary30);
    padding: 20px;
    border-radius: 5px;
}
.slider06 .ctActivity p {
  color: var(--secondary);
}
.slider06 .ctActivity h4 {
    font-weight: 700;
    font-size: 2rem;
}
.slider06 .respons {
    padding: 5px 10px;
    border-radius: 5px;
    background: #ffe2e5;
    color: #dc3545;
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
}
.slider06 .respons.correct {
    background: #e2ffe7;
    color: #20be1c;
}


.imgsld6{
  width: 115%;
}

.activity {
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.activity p {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  color: #8f8f8f;
  line-height: 1.5em;
  text-align: justify;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}
.custom-select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #6b6b6b;
  border-radius: 4px;
  padding: 2px;
  font-size: 14px;
  text-align: left;
  color: #3a3a3a;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s;
  font-family: 'DM Sans', sans-serif;
}
.custom-select:focus {
  border-color:  #005ABB;
}

.custom-select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transform: translateY(-50%);
}

.custom-select option {
  padding: 5px;
  background-color: #fff;
  font-size: 15px;
}
/*--------*/
/*slider07*/


.slider07 .ctSlider > div:nth-child(1),
.slider07 .ctSlider > div:nth-child(3),
.slider07 .ctSlider > div:nth-child(5),
.slider07 .ctSlider > div:nth-child(7) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
    background: #fff;
}
.slider07 .ctSlider > div:nth-child(1) div:after,
.slider07 .ctSlider > div:nth-child(3) div:after,
.slider07 .ctSlider > div:nth-child(5) div:after,
.slider07 .ctSlider > div:nth-child(7) div:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #feda00;
    position: absolute;
    top: 35%;
    right: -10px;
}
.slider07 .ctSlider > div:nth-child(2),
.slider07 .ctSlider > div:nth-child(4),
.slider07 .ctSlider > div:nth-child(6),
.slider07 .ctSlider > div:nth-child(8) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 50%;
    align-items: center;
}
.slider07 .ctSlider > div:nth-child(2) div:after,
.slider07 .ctSlider > div:nth-child(4) div:after,
.slider07 .ctSlider > div:nth-child(6) div:after,
.slider07 .ctSlider > div:nth-child(8) div:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #feda00 transparent transparent;
    position: absolute;
    top: 35%;
    left: -10px;
}
.slider07 .ctSlider > div {
    border: 1px solid #fff;
}
.spannum {
    position: relative;
    background: #feda00;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    margin: 0 20px;
}
.espdescription{
    font-style: italic;
    font-weight: bold;
    font-stretch: semi-condensed;
    display: block;

}

@media only screen and (max-width: 767px) {
  .img-sld5{
    padding-top: 30%;
    width: 60%;
    margin: 0 auto;
  }
  
  .boxwhite{
    padding: 5% 2%;
    margin: 5% 2% 20% 2%;
  }
  
  .background-sld5{
    background-color: rgba(7, 7, 7, 0.507);
    border-radius: 10px;
  }

  .imgsld6{
    width: 100%;
  }  

}
.custom-list {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  animation: appear 1.5s ease-in-out forwards; /* Iniciar animación en la carga de la página */
}

.custom-list li {
  /* opacity: 0;  Inicialmente, ocultar elementos */
  background-color: #f2f2f2; /* Fondo gris claro */
  color: #444; /* Texto gris oscuro */
  padding: 10px; /* Espacio interno */
  margin-bottom: 10px; /* Espacio entre elementos */
  border-radius: 5%; /* Esquinas redondeadas al 100% */
  transition: background-color 0.3s, font-weight 0.3s; /* Transiciones suaves */
}

.custom-list2 {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    animation: appear 1.5s ease-in-out forwards; /* Iniciar animación en la carga de la página */
  }
  
  .custom-list2 li {
    /* opacity: 0;  Inicialmente, ocultar elementos */
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #444; /* Texto gris oscuro */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio entre elementos */
    border-radius: 5%; /* Esquinas redondeadas al 100% */
    transition: background-color 0.3s, font-weight 0.3s; /* Transiciones suaves */
  }

@keyframes appear {
  to {
    opacity: 1; /* Mostrar elementos al final de la animación */
  }
}

.custom-list li:hover {
  background-color: #89cf89; /* Fondo verde cuando se pasa el cursor */
  font-weight: bold; /* Texto en negrilla cuando se pasa el cursor */
}
.custom-list2 li:hover { 
    font-weight: bold; /* Texto en negrilla cuando se pasa el cursor */
  }
/*--------*/
/*slider08*/
.slider08 .ctActivity {
  display: flex;
  align-items: center;
/*  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
/*  background: #fff;
  border-radius: 10px;*/
  margin: 10px;
}
.slider08 .ctActivity > div:nth-child(1) {
    background: #009a3d;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    border-radius: 10px;
}
.slider08 .ctActivity .hide {
  display: none;
  text-align: justify;
  margin-left: 20px;
}

/*--------*/
/*slider09*/
.slider09 .ctAct {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.slider09 .ctAct > div {
    padding: 10px;
    max-width: 150px;
    width: 100%;
    background: #fafafa;
    border-radius: 10px;
    margin: 5px;
}
.slider09 .ctAct img {
    max-width: 125px;
    margin: 0 auto;
}
.slider09 .ctAct p {
    margin-top: 10px;
}
.slider09 .ctAct > div.act:hover {
    filter: grayscale(50%);
    cursor: pointer;
    transform: scale(1.01);
    transition: .3s;
}
.slider09 .ctAct > div.act img,
.slider09 .ctAct > div.act p {
    display: none;
}
.slider09 .ctAct > div img.inf {
    display: none;
}
.slider09 .ctAct > div.act img.inf {
    display: block;
}

.slider09 .ctAct2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.slider09 .ctAct2 > div {
    padding: 10px;
    max-width: 150px;
    width: 100%;
    background: #fafafa;
    border-radius: 10px;
    margin: 5px;
}
.slider09 .ctAct2 img {
    max-width: 125px;
    margin: 0 auto;
}
.slider09 .ctAct2 p {
    margin-top: 10px;
}
.slider09 .ctAct2 > div.act:hover {
    filter: grayscale(50%);
    cursor: pointer;
    transform: scale(1.01);
    transition: .3s;
}
.slider09 .ctAct2 > div.act2 img,
.slider09 .ctAct2 > div.act2 p {
    display: none;
}
.slider09 .ctAct2 > div img.inf2 {
    display: none;
}
.slider09 .ctAct2 > div.act2 img.inf2 {
    display: block;
}

.espacio-10{
  margin-top: 10px;
}

.espacio-20{
  margin-top: 20px;
}

.espacio-50{
  margin-top: 50px;
}


 /*icono mas vestuario*/
 .icono {
  position: absolute;
  max-height: 1.4rem;
  max-width: 100%; 
  margin: 0 auto;
  width: auto;
  height: auto;
  z-index: 1;
}

/*Arrastrar imagen de vestuario*/
.img-vestuario{
  max-height: 30rem;
  max-width: 100%; 
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-top: -7rem;
  z-index: -1;
}

.bg-azuloscurosld17 {
  background-color: #071835; /* Color blanco */
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.parrafo-justify{
  text-align: justify;
  line-height: 1.2em;
}

.parrafo-center{
  text-align: center;
  line-height: 1.2em;
}

.parrafo-left{
  text-align: left;
  line-height: 1.2em;
}

.parrafo-right{
  text-align: right;
  line-height: 1.2em;
}

.parrafo-white{
  color: var(--white);
}

.pline{
  line-height: 1.2em;
}

/*slider 22*/
.bg-sld18{
  background: #003A5D 100%;
  height: 120vh !important;
}

/*slider25*/
.imagen-sld15{
  max-width: 80%; 
  margin: 0 auto;
}

@media (max-width: 768px) {
  .icono {
    position: absolute;
    max-height: 1.6rem;
    max-width: 100%; 
    margin: 0 auto;
    width: auto;
    height: auto;
    z-index: 1;
}

.img-vestuario{
    max-height: 50rem;
    max-width: 100%; 
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-top: 65%;
    margin-top: -10rem;
    margin-bottom: -115%;
    z-index: -1;
}

.slide-2-elementos{
    display: grid; 
    margin-top: 150px; 
    justify-content: center; 
    z-index: 1;
    height: 10%;
}

.instruccion-sld21{
  margin-top: 370px;
}

.bg-sld18{
  background: #003A5D 100%;
  height: 100vh !important;
}

.imagen-sld15{
  max-width: 40%; 
  float: left;
}
}




/*--------*/
/*slider17*/
.slider17 .ctItem {
    background: #ebebeb;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
.slider17 .ctItem > div p,
.slider17 .record {
    background: #f7f7f7;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 5px;
}
.slider17 .ctItem > div p.act {
    background: #353846;
    color: #fff;
}
.slider17 .ctItem > div p:hover {
    cursor: pointer;
    background: #fff;
    color: #8f8f8f;
}
.slider17 .ctItem > div p.false {
    background: #f36572;
    color: #fff;
}
.slider17 .ctItem > div p.true {
    background: #65f38a;
    color: #008116;
}


/*--------*/
/*ctActivityImgClick*/
.ctActivityImgClick {
  position: relative;
}
.ctActivityImgClick img {
  display: none;
  position: relative;
}
.ctActivityImgClick img.act {
  display: block;
}
.ctActivityImgClick .btnAct {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
}
.ctActivityImgClick .btnAct button {
  filter: grayscale(80%);
}
.ctActivityImgClick .btnAct button.act {
  filter: grayscale(0%);
}
.ctActivityImgClick .btnAct button.act::after {
    content: " ";
    position: absolute;
    top: -8px;
    left: -8px;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    border: 3px solid var(--primary);
}


/*--------*/
/*ctActivityImgClickV2*/
.ctActivityImgClickV2 {
  position: relative;
  padding-left: 80px;
}
.ctActivityImgClickV2 img {
  display: none;
  position: relative;
}
.ctActivityImgClickV2 img.act {
  display: block;
}
.ctActivityImgClickV2 .btnAct {
    position: absolute;
    top: calc(50% - 150px);
    left: 0px;
}
.ctActivityImgClickV2 .btnAct button {
  filter: grayscale(80%);
  margin: 20px 0px;
}
.ctActivityImgClickV2 .btnAct button.act {
  filter: grayscale(0%);
}
.ctActivityImgClickV2 .btnAct button.act::after {
    content: " ";
    position: absolute;
    top: -8px;
    left: -8px;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    border: 3px solid var(--primary);
}

/*--------*/
/*ctActivityImgClickV3*/
.ctActivityImgClickV3 {
  position: relative;
  padding-left: 80px;
}
.ctActivityImgClickV3 img {
  display: none;
  position: relative;
}
.ctActivityImgClickV3 img.act {
  display: block;
}
.ctActivityImgClickV3 button {
  position: absolute;
  filter: grayscale(80%);
  margin: 20px 0px;
  padding: 10px 14px;
}
.ctActivityImgClickV3 button p {
  color: #fff;
  display: none;
  z-index: 9999;
}
.ctActivityImgClickV3 button.act {
  filter: grayscale(0%); 
  z-index:99;
}
.red {
  background: red !important;
}

.ctActivityImgClickV3 button.act p {
  display: block;
}
.ctActivityImgClickV3 button.act::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    border: 3px solid var(--primary);
}


/*--------*/
/*actTachometer*/
.actTachometer {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
.actTachometer .ctImgAct {
  position: relative;
}
.actTachometer .ctImgAct > span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 22%;
    display: block;
    width: 100px;
    height: 20px;
    transform: rotate(0deg);
}
.actTachometer .ctImgAct > span > span {
    position: relative;
    display: block;
    left: -120px;
    border-style: solid;
    border-width: 10px 171px 10px 0;
    border-color: transparent #303030 transparent transparent;
}
.actTachometer .infAct {
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fafafa;
}


/*--------*/
/*actSelectImg*/
.actSelectImg > div {
    position: relative;
}
.actSelectImg .itemAct {
    max-width: 300px;
    position: relative;
    display: inline-block;
    margin: 10px;
}
.actSelectImg .itemAct:hover {
    cursor: pointer;
    filter: grayscale(30%);
    transform: scale(1.01);
}
.actSelectImg .itemAct .resAct {
    position: absolute;
    max-width: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
}
.actSelectImg .result {
    display: none;
}


/*--------*/
/*actPuzzle*/
.actPuzzle {
    display: grid;
    grid-template-columns: 80.13px 1fr;
    grid-gap: 20px;
}
.actPuzzle > div:nth-child(1) {
    display: grid;
}
.actPuzzle > div:nth-child(1) img {
    position: relative;
    z-index: 3 !important;
    margin-bottom: 5%;
}
.actPuzzle > div:nth-child(1) img:hover {
    cursor: all-scroll;
    filter: grayscale(50%);
    transform: scale(2);
}
.actPuzzle > div:nth-child(1) img:active,
.actPuzzle > div:nth-child(1) img:focus {
    border: 4px solid #5eff96 !important;
    background: none;
    color: inherit;
}
.actPuzzle > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(20 32 39 / .3);
       -moz-box-shadow: 0px 5px 20px 0px rgb(20 32 39 / .3);
            box-shadow: 0px 5px 20px 0px rgb(20 32 39 / .3);
}
.actPuzzle > div:nth-child(2) img {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}
.actPuzzle > div:nth-child(2) > div:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 4;
}
.actPuzzle > div:nth-child(2) > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.actPuzzle > div:nth-child(2) > div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.actPuzzle > div:nth-child(2) > div:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 3;
}
.actPuzzle > div:nth-child(2) > div:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
}
.actPuzzle > div:nth-child(2) > div:hover {
    outline: 1px solid #0f9baf;
    z-index: 2;
    cursor: pointer;
}
.actPuzzle > div:nth-child(2) > div.act {
    outline: 3px solid #0f9baf;
    z-index: 2;
}
@media (max-width: 1070px) {
    .actPuzzle {
        grid-template-columns: 1fr;
    }
    .actPuzzle > div:nth-child(1) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


/*--------*/
/*slider19*/
.horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
  display: block;
}

.horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list2 {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
  width: 12%;
}

.horizontal-timeline .items .items-list2:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 0px !important;
  top: 0;
  width: 12%;
}

.horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
  background: #009a3d;
}

@media (min-width: 1140px) {
  .horizontal-timeline .items {
      display: flex;
  }
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 14%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}

.custom-list {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    animation: appear 1.5s ease-in-out forwards; /* Iniciar animación en la carga de la página */
  }
  
  .custom-list li {
    /* opacity: 0;  Inicialmente, ocultar elementos */
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #444; /* Texto gris oscuro */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio entre elementos */
    border-radius: 5%; /* Esquinas redondeadas al 100% */
    transition: background-color 0.3s, font-weight 0.3s; /* Transiciones suaves */
  }
  
  .custom-list li {
      transition: background-color 0.5s, font-weight 0.5s;
  }
  
  .custom-list li.active {
      background-color: #89cf89;
      font-weight: bold;
  }
  
  .custom-list li.desactive {
      background-color: #db8a8a;
      font-weight: bold;
  }

.custom-list-correct li {
    display: none;
}

.custom-list-incorrect li {
    display: none;
}

.slide_14 .ctItem {
    background: #ebebeb;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
.slide_14 .ctItem > div p,
.slide_14 .record {
    background: #f7f7f7;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 5px;
}
.slide_14 .ctItem > div p.act {
    background: #353846;
    color: #fff;
}
.slide_14 .ctItem > div p:hover {
    cursor: pointer;
    background: #fff;
    color: #8f8f8f;
}
.slide_14 .ctItem > div p.false {
    background: #f36572;
    color: #fff;
}
.slide_14 .ctItem > div p.true {
    background: #65f38a;
    color: #008116;
}


.center{
    text-align: center;
    
}

.inline{
    margin-inline: -40px !important;
}
.inline-3{
  margin-inline: -40px !important;
}

.center > div p{
    font-size: 20px;
    font-weight: bold;
    color: var(--blue50);
    cursor: pointer;
}

/*actividad accordion estructura tematica*/
.accordionminera {
    width: 100%;
    max-width: 1080px;
    height: auto;
    overflow: hidden;
    margin: 15px auto;
  
    ul {
      width: 100%;
      display: table;
      table-layout: fixed;
      margin: 0;
      padding: 0;
    
  
      li {
        display: table-cell;
        vertical-align: bottom;
        position: relative;
        width: 16.666%; 
        height: auto;
  
        background-repeat: no-repeat;
        background-position: center center;
  
        transition: all 500ms ease;
  
        div {
          display: block;
          overflow: hidden;
          width: 100%;
  
          a {
            display: block;
            height: auto;
            width: 100%;
            position: relative;
            z-index: 3;
            vertical-align: bottom;
            padding: 15px 20px;
            box-sizing: border-box;
            color: #fff;
            text-decoration: none;
            font-family: Open Sans, sans-serif;  
            transition: all 200ms ease;
  
            * {
              opacity: 0;
              margin: 0;
              width: 100%;
              text-overflow: ellipsis;
              position: relative;
              z-index: 5;
  
              white-space: nowrap;
              overflow: hidden;
  
              -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
  
              -webkit-transition: all 400ms ease;
              transition: all 400ms ease;
            }
  
            h2 {
              font-family: Montserrat, sans-serif;
              text-overflow: clip;
              font-size: 30px;
              margin-bottom: 5px;
              color: #fff;
            }
  
            p {
              top: text-offset;
              font-size: 13.5px;
            }
          }
        }
      }

  
  
      li:nth-child(1) {
        background-image: url("../img/momentos/momento1.png");
        height: 300px;
      }
      li:nth-child(2) {
        background-image: url("../img/momentos/momento2.png");
        height: 300px;
      }
      li:nth-child(3) {
        background-image: url("../img/momentos/momento3.png");
        height: 300px;
      }
      li:nth-child(4) {
        background-image: url("../img/momentos/momento4.png");
        height: 300px;
      
      }
      /*li:nth-child(5) {
        background-image: url("http://michael-ferry.com/assets/accordion5.jpg");
      }
      li:nth-child(6) {
        background-image: url("http://michael-ferry.com/assets/accordion6.jpg");
      }*/
  
      &:hover li,
      &:focus-within li {
        width: 8%;
      }
  
      li:focus {
        outline: none;
      }
  
      &:hover li:hover,
    
      li:focus,
      &:focus-within li:focus {
        width: 60%;
  
        a {
          background: rgba(0, 0, 0, 0.4);
  
          * {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }
      }
  
      &:hover li {
        width: 8% !important;
  
        a * {
          opacity: 0 !important;
        }
      }
  
      &:hover li:hover {
        width: 30% !important;
  
        a {
          background: rgba(0, 0, 0, 0.4);
          
  
          * {
            opacity: 1 !important;
            -webkit-transform: translateX(0);
            transform: translateX(0);
           
            font-size: 21px;
          }
        }
      }
    }
  }

  @media (max-width: 734px){
    .card-2 {
      background: var(--secondary30);
      cursor: default;
      height: 200px;
      transform-style: preserve-3d;
      transition: transform 0.4s ease 0s;
      width: 100%;
      -webkit-animation: giro 1s 1;
      animation: giro 1s 1;
    }
    .inline{
      margin-inline: -65px !important;
    }
    .inline-3{
      margin-inline: 0px !important;
    }
  }
  
  
  @media screen and (max-width: 600px) {
   
    body {
      margin: 0;
    }
  
    .accordionminera {
      height: auto;
  
      ul, ul:hover {
        li,
        li:hover {
          position: relative !important;
          display: table;
         table-layout: fixed !important;
          width: 100% !important;
          -webkit-transition: none;
          transition: none;
        }
      }
     /*responsive momentos h2*/
      div {
        display: block;
        overflow: hidden;
        width: 100%;
        margin-top: 40%;
    }
  }
  
  .about {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #666;
  
    a {
      color: blue;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  }

 